/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/
.table{ display: table; height: 100%;}
.table-cell{display: table-cell; vertical-align: middle; color: #fff;}

.home-slider{
    max-width: 1600px;
    height: auto;
    margin: 90px auto 40px auto;
    position: relative;
    
    overflow: hidden;
}
.home-slider h1{
    font-size: 60px;
    text-shadow: 0px 0px 5px rgba(81, 80, 80, 1);
}
.home-slider h4{
    font-size: 20px;
    text-shadow: 0px 0px 5px rgba(81, 80, 80, 1);
    margin-top: 16px;
}
.home-slider a.gotonews{
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 15px;
    background-color:  #d3a907;
    transition: all 0.3s ease-in-out;

}
.home-slider a.gotonews:hover{
    background-color: #01284f;
    text-decoration: none;
}
.home-slider a.gotonews:focus{
    text-decoration: none;
}
.cycle-slideshow .slide-title-container{
    max-width: 800px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 60px;
    /* padding: 150px 0px 0px 200px; */
    padding-left: 200px;
    position: absolute;
    top: 0;
    z-index: 102;
    height: 500px;
}
.cycle-slideshow .slide-img-container{
    width: 100%;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 102;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;

    min-height: 320px;


}
.hover-img{
    position:absolute; 
    height:600px; 
    width:100%; 
    background-color: 
    rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4); 
    z-index:101; 
    top: 0
}
/* tc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { 
    width: 100%; 
    min-width: 200px; 
    max-width: 1600px; 
    padding: 0; 
    position: relative;
    background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;

 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}


/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: 200px;}
    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}


/*Codigo by D.Chavez*/

.nav-center{
    width: 100%;
    position: absolute;
    top: 38%;
    z-index: 102;
}
#next span{
    float: right;

}
#prev span{
    float: left;
    text-align: right;
}
.nav-center span.text{
    margin: 0 10px;
    width: 224px;
    height: 126px;
}
.nav-center span.arrow{
    width: 50px;
    height: 45px;
    margin: 42px 15px;
}

#next{
    right: -236px;
    position: absolute;  
}
#prev{
    left: -236px;
    position: absolute;  
}
#prev span.arrow{
   /* right: 0; 
  width: 50px;
  height: 45px;
  position: absolute;
  top: 41px;
  display: block;*/
  background: transparent url("../img/arrows.png") no-repeat scroll 0 0; 


}
#next span.arrow{
  background: transparent url("../img/arrows.png") no-repeat scroll 0 0; 
  background-position: 0px -45px;
}
.nav-center a{
    background-color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
}
.nav-center a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);

    -webkit-transition: background-color ease-out .7s;
    -moz-transition: background-color ease-out .7s;
    -o-transition: background-color ease-out .7s;
    transition: background-color ease-out .7s;
}


